<div class="transition-all min-h-screen bg-gray-50">
  <app-header
    [profile]="{ name: 'Teacher Profile', initials: 'TP' }"
    pageTitle="Student Tracking"
  ></app-header>

  <main class="p-6">
    <div class="flex items-center justify-between mb-4">
      <app-filters
        class="flex-grow mr-4"
        [dropdowns]="dropdowns"
        [searchPlaceholder]="'Search students...'"
        (filtersChange)="onFiltersChange($event)"
      ></app-filters>
    
    </div>
    <app-data-table
      class="mt-3"
      [title]="'Students'"
      [columns]="columns"
      [rows]="students"
      [rowClickable]="false"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      [totalItems]="totalItems"
      (actionClick)="onActionClick($event)"
      (pageChange)="currentPage = $event"
    >
    </app-data-table>
  </main>
</div>
